/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
header {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}



header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
}

p {
    font-size: 16px;
}


.hero {
    height: 420px;
    width: 50%;
    background-image: url("../images/BrianB2.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.biosummary {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
}

.biosummary p {
    font-size: 11px;
    color:black;
}

.biosum {
    margin-bottom: 32px;
    color: #ffffff;
}

.biosum p {
    font-size:10px;
    color: #ffffff;
}

.biosum h3 {
    margin-bottom: 10px;
    text-align: center;
}



.contact p {
    font-size:10px;
}

.resume p {
    font-size:10px;
}

.projects p {
    font-size:10px;
}

.skills p {
    font-size:10px;
}

.contact {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
    color: #ffffff;
}

.resume {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
    color: #ffffff;
}

.projects {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
    color: #ffffff;
}

.skills {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peru;
    color: #ffffff;
}

.contact img {
    max-height: 150px;
}

.resume img {
    max-height: 150px;
}

.projects img {
    max-height: 150px;
}

.skills img {
    max-height: 150px;
}